<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/register}" method="post">
    <label for="username">Username:</label>
    <input id="username" type="text"/><br/>
    <label for="password">Password:</label>
    <input id="password" type="text"/><br/>
    <label for="name">Name:</label>
    <input id="name" type="text"/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>